[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
st-annotated-text = "*"
transformers = "*"
torch = "*"
joblib = "*"
nltk = "*"
htbuilder = "*"
nest-asyncio = "*"
mkdocs = "*"
mkdocstrings-python = "*"
typer = "*"
huggingface-hub = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.12"
