[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
st-annotated-text = "*"
transformers = "*"
torch = "*"
huggingface-hub = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.12"
